    header{
        background-color: blue;
        color: black;
        text-align: center;
    }

    main{
        background-color: brown;
        color: aliceblue;
        text-align: center;
    }

